body {
  margin: 0;
  padding: 0;
  background: url(baground/baground.svg), url(baground/bag2.svg);
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-size: 55%, 64%;
  background-position: 118% -25%, -64% 100%;
  background-color: #f7f7ff;
  font-family: "Montserrat", sans-serif;
}
header h1 {
  text-align: center;
  margin: 48px 0 40px 0;
  color: #65687e;
  font: normal normal bold 38px/42px Montserrat;
}
.toggle_contianer {
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toggle_contianer span label {
  width: 59px;
  height: 30px;
  border-radius: 15px;
  display: inline-block;
  background-color: #c1c4f5;
  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(236, 63%, 64%)
  );
  position: relative;
}
.toggle_contianer > .annualy_monthly {
  /* position: absolute;
    top: 0px;
    display: block; */
  padding: 0 30px 0 26px;
  padding: 0 30px 0 26px;
  width: 66px;

  height: 19px;
  font-size: 18px;
  color: #65687e;
}
.toggle_contianer span label .circle {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.toggle_contianer span input {
  position: absolute;
  left: -1000000000000000000px;
}

.toggle_contianer span input:checked + label .circle {
  /* left: auto;
    right: 3px; */
  transform: translateX(30px);
  background-color: aqua;
}

main > .containor {
  box-sizing: border-box;
  width: 100%;
  height: 515px;
  margin: 85px 0 64px 0;
}
main > .containor > .card_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.first_card {
}
main > .containor > .card_container > .first_card {
  box-sizing: border-box;
  width: 362px;
  height: 466px;
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 25px #00000029;
  border-radius: 10px;
  opacity: 1;
  margin: 0;
  display: inline-block;
  position: relative;
  left: 8px;
  z-index: -999999;
}
.master {
  width: 100%;
  height: 27px;
  /* UI Properties */
  text-align: center;
  font: normal normal bold 22px/26px Montserrat;
  letter-spacing: 0px;
  color: #65687e;
  opacity: 1;
  margin: 35px 0 18px 0;
}
.doller_price {
  text-align: center;
  margin: 0 0 20px 0;
}
.doller_price > div:first-child {
  margin: 0 10px 0 0;
  display: inline-block;
  width: 25px;
  height: 48px;
  font-size: 39px;
  position: relative;
  bottom: 9px;
  font: normal normal 600 39px/44px Montserrat;
  letter-spacing: 0px;
  color: #65687e;
  opacity: 1;
}
.doller_price > div:last-child {
  display: inline-block;
  width: 171px;
  height: 82px;
  font-size: 67px;
  font: normal normal bold 67px/75px Montserrat;
  letter-spacing: 0px;
  color: #65687e;
  opacity: 1;
}
.storage {
  width: 100%;
  height: 20px;
  /* UI Properties */
  text-align: center;
  font: normal normal 600 17px/25px Montserrat;
  letter-spacing: 0px;
  color: #65687e;
  opacity: 1;
  margin: 20px 0 18px 0;
}
.user_count {
  margin: 20px 0 18px 0;
  text-align: center;
  font: normal normal 600 17px/25px Montserrat;
  letter-spacing: 0px;
  color: #65687e;
  opacity: 1;
}
.send_up_to {
  margin: 20px 0 18px 0;
  text-align: center;
  font: normal normal 600 17px/25px Montserrat;
  letter-spacing: 0px;
  color: #65687e;
  opacity: 1;
}
.learn_more {
  border: 1px solid #65687e;
  border-radius: 4px;
  opacity: 1;
  box-sizing: border-box;
  width: 287px;
  height: 46px;
  text-align: center;
  margin: 25px auto 34px auto;
  color: #797bd9;
}
.learn_more > div {
  position: relative;
  top: 10px;
}

.line {
  height: 0;
  width: 286px;
  border: 00.5px solid #65687e;
  margin: 0 auto 0 auto;
}
.second_card {
  width: 367px;
  height: 515px;
  /* UI Properties */
  background: transparent linear-gradient(145deg, #b2b6f4 0%, #797bd9 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 3px 25px #00000029;
  border-radius: 10px;
  opacity: 1;
  display: inline-block;
}
.second_card > .Professional {
  width: 161px;
  height: 30px;
  /* UI Properties */
  text-align: center;
  font: normal normal bold 25px/29px Montserrat;
  letter-spacing: 0px;
  color: #fdfdff;
  opacity: 1;
  margin: 47px auto 20px auto;
}
.second_card > .doller_price {
  margin: 0 0 22px 0;
}
#for_3rd_card_1 {
  width: 28px;
  height: 54px;
  /* UI Properties */
  text-align: left;
  font: normal normal 600 44px/50px Montserrat;
  letter-spacing: 0px;
  color: #fdfdff;
  opacity: 1;
}
#for_3rd_card_2 {
  width: 212px;
  height: 92px;
  /* UI Properties */
  text-align: left;
  font: normal normal bold 75px/84px Montserrat;
  letter-spacing: 0px;
  color: #fdfdff;
  opacity: 1;
}

.second_card > .storage {
  height: 24px;
  /* UI Properties */
  font: normal normal 600 20px/29px Montserrat;
  letter-spacing: 0px;
  color: #fdfdff;
  opacity: 1;
  margin: 20px 0 20px 0;
  width: 100%;
}

.second_card > .user_count {
  height: 24px;
  /* UI Properties */
  font: normal normal 600 20px/29px Montserrat;
  letter-spacing: 0px;
  color: #fdfdff;
  opacity: 1;
  margin: 20px 0 20px 0;
  width: 100%;
}
.second_card > .send_up_to {
  width: 100%;
  height: 24px;
  margin: 20px auto 20px auto;

  /* UI Properties */
  font: normal normal 600 20px/29px Montserrat;
  letter-spacing: 0px;
  color: #fdfdff;
  opacity: 1;
}
.second_card > .learn_more {
  width: 321px;
  height: 52px;
  /* UI Properties */
  border: 1px solid #ffffff;
  border-radius: 4px;
  opacity: 1;
  color: #fdfdff;
}
.second_card > .line {
  border: 0.5px solid #fdfdff;
}

/* third_card */

/* properties for first card and the 3rd care are same 
so the class name are same and just the structure coppyed from the 
1st card*/
.third_card {
  width: 362px;
  height: 466px;

  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 25px #00000029;
  border-radius: 10px;
  opacity: 1;
  display: inline-block;
  position: relative;
  right: 8px;
  z-index: -99999;
}

/*******************************************/

@media screen and (max-width: 700px) {
  body {
    background: url(baground.svg), url(bag2.svg);
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    background-size: 200%, 64%;
    background-position: -30% -230%, -640% 00%;
    background-color: #f7f7ff;
    font-family: "Montserrat", sans-serif;
  }
  body {
  }
  .second_card {
  }
  header {
    width: 100%;
    top: 0;
    z-index: 555555;

    box-sizing: border-box;
    margin: 0;

    top: 0px;
    background-color: transparent;
  }
  header h1 {
    width: 170px;
    height: 38px;
    /* UI Properties */
    text-align: center;
    font: normal normal bold 31px/34px Montserrat;
    letter-spacing: -1.55px;
    color: #65687e;
    opacity: 1;
    margin: 44px auto 30px auto;
  }

  .toggle_contianer {
    width: 100%;
    height: 24px;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
  }
  .annualy_monthly {
    padding: 2px 20px 2px 20px;
  }

  main > .containor {
    width: 100%;
    height: auto;
    margin: 10px auto 0px auto;
    padding: 0;
  }
  #containor {
    margin: 10px auto 0px auto;
  }

  main > .containor > .card_container {
    display: block;
    justify-content: center;

    height: 500px;
    overflow: hidden;
    overflow-y: scroll;
    margin-bottom: 0;
  }
  main > .containor > .card_container > .first_card,
  .third_card {
    width: 320px;
    height: 414px;
    position: static;
    /* UI Properties */
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 25px #00000029;
    border-radius: 10px;
    opacity: 1;
    display: block;
    margin: 10px auto 15px auto;
    z-index: 0;
    border: 0.0005px solid #ffffff;
  }
  .master {
    width: 61px;
    height: 20px;
    /* UI Properties */
    text-align: center;
    font: normal normal bold 17px/20px Montserrat;
    letter-spacing: 0px;
    color: #65687e;
    opacity: 1;
    margin: 31px auto 20px auto;
  }
  main > .containor {
    margin: 10px auto 40px auto;
    padding: 0;
  }
  .doller_price {
    margin-bottom: 18px;
  }
  .doller_price > div:first-child {
    margin: 0 10px 0 0;
    display: inline-block;
    position: relative;
    bottom: 9px;
    width: 20px;
    height: 39px;
    /* UI Properties */
    text-align: left;
    font: normal normal 600 32px/36px Montserrat;
    letter-spacing: 0px;
    color: #65687e;
    opacity: 1;
  }
  .doller_price > div:last-child {
    display: inline-block;
    width: 151px;
    height: 72px;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 59px/66px Montserrat;
    letter-spacing: 0px;
    color: #65687e;
    opacity: 1;
  }

  .storage {
    width: 100%;
    height: 16px;
    /* UI Properties */
    text-align: center;
    font: normal normal 600 13px/19px Montserrat;
    letter-spacing: 0px;
    color: #65687e;
    opacity: 1;
    margin: 16px 0 12px 0;
  }
  .user_count {
    margin: 16px 0 12px 0;
    height: 16px;
    text-align: center;
    font: normal normal 600 13px/19px Montserrat;
    letter-spacing: 0px;
    color: #65687e;
    opacity: 1;
  }
  .send_up_to {
    margin: 16px 0 12px 0;
    text-align: center;
    font: normal normal 600 13px/19px Montserrat;
    letter-spacing: 0px;
    color: #65687e;
    opacity: 1;
  }
  .learn_more {
    border: 1px solid #65687e;
    border-radius: 4px;
    opacity: 1;
    box-sizing: border-box;
    width: 254px;
    height: 41px;
    text-align: center;
    margin: 20px auto 0px auto;
    color: #797bd9;
  }
  .learn_more > div {
    position: relative;
    top: 10px;
  }

  .third_card {
    position: static;
    margin-bottom: 30px;
  }

  /*css for the second card. fast and the 3rd carde is same */

  .second_card {
    width: 350px;
    height: 500px;
    /* UI Properties */
    background: transparent linear-gradient(145deg, #b2b6f4 0%, #797bd9 100%) 0%
      0% no-repeat padding-box;
    box-shadow: 0px 3px 25px #00000029;
    border-radius: 10px;
    opacity: 1;
    display: block;
    margin: 10px auto 15px auto;
  }
  .second_card > .Professional {
    width: 151px;
    height: 28px;
    /* UI Properties */
    text-align: center;
    font: normal normal bold 20px/24px Montserrat;
    letter-spacing: 0px;
    color: #fdfdff;
    opacity: 1;
    margin: 40px auto 18px auto;
    border: 0.0005px solid #b2b6f4;
  }
  .second_card > .doller_price {
    margin: 0 0 20px 0;
  }
  #for_3rd_card_1 {
    width: 22px;
    height: 50px;
    font: normal normal 600 40px/55px Montserrat;
  }
  #for_3rd_card_2 {
    width: 206px;
    height: 88px;
    font: normal normal bold 70px/80px Montserrat;
  }

  .second_card > .storage {
    height: 20px;
    font: normal normal 600 16px/25px Montserrat;
    margin: 16px 0 16px 0;
  }
  .second_card > .user_count {
    height: 20px;
    font: normal normal 600 16px/25px Montserrat;
    margin: 16px 0 16px 0;
  }
  .second_card > .send_up_to {
    height: 20px;
    margin: 16px auto 16px auto;
    font: normal normal 600 16px/25px Montserrat;
  }
  .second_card > .learn_more {
    width: 285px;
    height: 48px;
  }
  .second_card > .line {
    border: 0.5px solid #d4d4d6;
    width: 290px;
  }

  .line {
    width: 252px;
    border: #65687e 0.05px solid;
  }
}
